<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!--
        IMPORTANTE:
        Se usa groups_id con (6, 0, [...]) para REEMPLAZAR
        cualquier grupo anterior del menu.

        De esta forma ya no queda stock.group_stock_manager
        junto con nuestro nuevo permiso.
    -->

    <record
        id="menu_product_export_xlsx_root"
        model="ir.ui.menu"
    >
        <field name="name">
            Exportacion de productos
        </field>

        <field
            name="parent_id"
            ref="stock.menu_stock_root"
        />

        <field name="sequence">95</field>

        <field
            name="groups_id"
            eval="[(6, 0, [ref('product_export_xlsx.group_product_export_xlsx')])]"
        />
    </record>


    <record
        id="menu_product_export_xlsx_generate"
        model="ir.ui.menu"
    >
        <field name="name">
            Generar Excel
        </field>

        <field
            name="parent_id"
            ref="product_export_xlsx.menu_product_export_xlsx_root"
        />

        <field
            name="action"
            ref="product_export_xlsx.action_product_export_xlsx_wizard"
        />

        <field name="sequence">10</field>

        <field
            name="groups_id"
            eval="[(6, 0, [ref('product_export_xlsx.group_product_export_xlsx')])]"
        />
    </record>


    <record
        id="menu_product_export_xlsx_history"
        model="ir.ui.menu"
    >
        <field name="name">
            Historial de exportaciones
        </field>

        <field
            name="parent_id"
            ref="product_export_xlsx.menu_product_export_xlsx_root"
        />

        <field
            name="action"
            ref="product_export_xlsx.action_product_export_xlsx"
        />

        <field name="sequence">20</field>

        <field
            name="groups_id"
            eval="[(6, 0, [ref('product_export_xlsx.group_product_export_xlsx')])]"
        />
    </record>

</odoo>
